body {
  transition: all .3s ease-in-out;
}
.body-visible{
  &:after{
    content: "";
    position: absolute;
    top: 0;
    background-color: rgba(30, 30, 30, 0.75);
    width: 100%;
    z-index: 1;
    height: 100vh;
  }
  .card-details {
    display: block!important;
  }
}
.div-tasks{
  height: 100%;
  .div-task-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3{
      font-size: 35px;
      color: #2C2B2B;
    }
    h5{
      color: #2C2B2B;
    }
    .div-filter{
      display: flex;
      align-items: center;
      select{
        border: none;
        border-radius: 5px;
        padding: 0.5em;
        margin-left:1em ;
        outline: none;
        transition: all .3s ease-in-out;
        border: 2px solid white;
        &:focus{
          border-color:#069BFF ;
        }
      }
    }
    margin-bottom: 1em;
  }
  .div-task-content{
    height: 25em;
    overflow: scroll;
    width: 100%;
    overflow-x: hidden;
    table{
      width: 100%;
      border-collapse: collapse;

      thead{
        tr td{
          padding:0 0 1em;
          border-bottom:1px solid #616161;
          font-weight: 600;
          color: #2C2B2B;
        }
      }
      tbody{
        tr td{
          padding:1em 0 .5em;
          font-weight: 500;
          color: #2C2B2B;
          span{
            padding: 0.5em;
            border-radius: 10px;
            background-color: #9AEFD7;
            text-transform: uppercase;
            color: #00674B;
            font-size: 14px;
            font-weight: bold;
          }
          button{
            width: 100%;
            border: none;
            background-color: #0A85FF;
            color: white;
            border-radius: 10px;
            padding: 0.5em;
            cursor: pointer;
          }
        }
      }
    }
  }
  .card-details{
    position: absolute;
    height: 20em;
    width: 35em;
    background-color: #ffffff;
    z-index: 2;
    border-radius: 10px;
    top: 30%;
    display: none;
    padding: 2em;
    .card-head{
      display: flex;
      justify-content: space-between;
      span{
        display: block;
        padding: 0.8em;
        background-color: red;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .card-content{
      .content-desc{
        p{
          font-size: 14px;
        }
      }
      .div-affect{
        display: flex;
      }
    }
    h3{
      color: #2C2B2B;
    }
  }
}

/*
  skills
*/

.dash-content{
  .skills-content{
    height: 100%;
    .skills-tittle{
      h3{
        font-size: 25px;
        margin-top: 2em;
        font-weight: 500;
      }
    }
    .card-skills{
      margin-top: 2em;
      .skills-header{
        display: flex;
        align-items: center;
        .profile{
          height: 8em;
          width: 8em;
          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        h3{
          font-weight: 500;
          font-size: 30px;
          margin-left: 2em;
        }
      }
      .skills-content{
        .info{
          table{
            width: 60%;
            margin-top: 1em;
            tr{
              td{
                span{
                  padding: 0.5em;
                  background-color: #9AEFD7;
                  color: #00674B;
                  border-radius: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}